.navbar-nav{
    float: none;
    text-align: center;
  }
  .navbar-nav li{
    display: inline-block;
    float: none;
  }

   
 

 
 span.u {
    display: right;
    padding: 10px 8%;
  }

  span.b {
    display: inline-block;
    width: 250px;
    height: 80px;
    padding: 8px;
    text-align:center;
    border: 10px solid white;    
    background-color: grey; 
  }

  span.c {
    display: inline-block;
    width: 250px;
    height: 80px;
    padding: 8px;
    text-align:center;
    border: 10px solid white;    
    background-color: goldenrod; 
  }

  span.d {
    display: inline-block;
    width: 250px;
    height: 80px;
    padding: 8px;
    text-align:center;
    border: 10px solid white;    
    background-color: peachpuff; 
  }

  span.e {
    display: inline-block;
    width: 250px;
    height: 80px;
    padding: 8px;
    text-align:center;
    border: 10px solid white;    
    background-color: black;
    
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }




span.a{
    display: inline-block;
    width: 1040px;
    height: 240px;
    padding: 100px;
      
    background-color: wheat; 
  }

  .collapsible {
    background-color: white;
    color:black;
   
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
  }
  
  .active, .collapsible:hover {
    background-color:white;
    border-bottom: 2px solid wheat;
  
  }
  
  .collapsible:after {
    content: '\002B';
    color:wheat;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

